<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CarfaxScheduler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<connectionStrings>
		<add name="EDriveAutosDevEntities" connectionString="metadata=res://*/EdriveModel.csdl|res://*/EdriveModel.ssdl|res://*/EdriveModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=69.167.162.49;initial catalog=&quot;EDriveAutosDev&quot;;Persist Security Info=True;User ID=EDriveAutos;Password=ed1234;MultipleActiveResultSets=True;Persist Security Info=False;Connection Timeout=24000; enlist=false;'" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <applicationSettings>
    <CarfaxScheduler.Settings>
      <setting name="LogFilePath" serializeAs="String">
        <value>C:\EdriveCarfaxLog.log</value>
      </setting>
      <setting name="CarfaxPath" serializeAs="String">
        <value>C:\Edrive\Carfax</value>
      </setting>
      <setting name="CarfaxCheckIntervalMinutes" serializeAs="String">
        <value>120</value>
      </setting>
    </CarfaxScheduler.Settings>
  </applicationSettings>
</configuration>