/eDriveAuto/bin
/eDriveAuto/obj
/CarfaxScheduler/bin
/CarfaxScheduler/obj
/Edrive.Core/bin
/Edrive.Core/obj
/Edrive.CsvParserService/bin
/Edrive.CsvParserService/obj
/Edrive.Data/bin
/Edrive.Data/obj
/Edrive.FtpRecordsScheduler/bin
/Edrive.FtpRecordsScheduler/obj
/Edrive.Logic/bin
/Edrive.Logic/obj
/Edrive.Membership/bin
/Edrive.Membership/obj
/Edrive.Security/bin
/Edrive.Security/obj
/Edrive.Service/bin
/Edrive.Service/obj
/EdriveService/App_Data
/EdriveService/bin
/EdriveService/ErrorLog
/EdriveService/obj
/eDriveAuto\Content/ErrorLog
/Edrive.suo
