<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EDriveEntities" connectionString="metadata=res://*/EdriveModel.csdl|res://*/EdriveModel.ssdl|res://*/EdriveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.167.162.49;initial catalog=EDriveAutosDevTest;user id=EDriveAutos;password=ed1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>