<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Edrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" />
        <!--<network host="MSERVER"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="eDriveAutoWebEntities" connectionString="metadata=res://*/Models.EDriveWeb.csdl|res://*/Models.EDriveWeb.ssdl|res://*/Models.EDriveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=69.167.162.49;Initial Catalog=EDriveAutosDevWeb;Persist Security Info=True;User ID=devsql;Password=eDr!v3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EDriveEntities" connectionString="metadata=res://*/EdriveModel.csdl|res://*/EdriveModel.ssdl|res://*/EdriveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.167.162.49;initial catalog=EDriveAutosDev;user id=devsql;password=eDr!v3;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--deployment connection live-->
    <!--<add name="eDriveAutoWebEntities" connectionString="metadata=res://*/Models.EDriveWeb.csdl|res://*/Models.EDriveWeb.ssdl|res://*/Models.EDriveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=69.167.162.49;Initial Catalog=EDriveAutosDevWeb;Persist Security Info=True;User ID=EDriveAutos;Password=3Dr!ve4uto;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="EmailTO" value="support@edriveautos.com" />
    <add key="cc" value="support@edriveautos.com" />
    <add key="EmailFrom" value="support@edriveautos.com" />
    <add key="RegistrationNotificationEmail" value="support@edriveautos.com" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NetworkUserName" value="developernet1" />
    <add key="NetworkPassword" value="demo123" />
    <add key="WebProxyServer" value="192.168.0.1" />
    <add key="WebProxyPort" value="8080" />
    <add key="ProxyStatus" value="1" />
    <!--<add key="ConsultationBusinessEmail" value="EDrive_1301122269_biz@gmail.com"/>-->
    <add key="ConsultationBusinessEmail" value="edrive_1343054725_biz@hotmail.com" />
    <add key="UseSandbox" value="false" />
    <add key="CurrencyCode" value="USD" />
    <add key="SendToReturnURL" value="true" />
    <!--for facebook-->
    <add key="APIKey" value="289005887859329" />
    <add key="Secret" value="839a724790583ae403f898cba5a6815a" />
    <!-- ends for facebook-->
    <!-- PayLeap Keys - Used for Transaction Processing -->
    <add key="PayLeapId" value="auto1954_API" />
    <add key="PayLeapTransKey" value="Wq3%gbCyJPnmbrg$" />
    <!-- Authorize.NET Keys...not currently used
    <add key="merchantLoginID" value="9MRbHjtY8A8f"/>
    <add key="merchantTransKey" value="5gb26TKmLTWc8726"/>-->
    <add key="DomainName" value="http://www.edriveautos.com/" />
    <add key="CarfaxFtpUrl" value="ftp://ftp.carfax.com" />
    <add key="CarfaxUserName" value="EDRIVEAUTO" />
    <add key="CarfaxPassword" value="8883163374" />
    <!-- Test PayPal Credentials -->
    <!--
    <add key="PPUsername" value="edrive_1343054725_biz_api1.hotmail.com"/>
    <add key="PPPassword" value="1343054748"/>
    <add key="PPSignature" value="ArU2hrgTMq9nKRDG88aqsISKa3BjAU96Q-jqAUwJc1BhgQVm0JXMvw2k"/>
    <add key="PPSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>
    -->
    <!-- Live PayPal Credentials -->
    <add key="PPUsername" value="edriveautos_api1.gmail.com" />
    <add key="PPPassword" value="Y3LCKFEP2DDHPVZF" />
    <add key="PPSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31A5rPppxHaumPGxcKmz6-vloDAcO5" />
    <add key="PPSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr" />
    <add key="PPVersion" value="92.0" />
  </appSettings>
  <!--<location path="Dealer">
    <system.web>
      <authorization>
        <allow roles="Dealer"/>
        <allow roles="Admin"/>
      </authorization> 
    </system.web>
    
  </location>-->
  <system.web>
    <sessionState timeout="30" />
    <httpRuntime maxRequestLength="4096" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="30" slidingExpiration="true" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="Edrive.Edrivie_Service_Ref" />
        <add namespace="Edrive.CommonHelpers" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Edrive.Properties.Settings>
      <setting name="eDriveAuto_com_nadaguides_www_UsedCars" serializeAs="String">
        <value>http://www.nadaguides.com/nagservice/usedcars.asmx</value>
      </setting>
      <setting name="eDriveAuto_com_nadaguides_www_UsedCarPrices" serializeAs="String">
        <value>http://www.nadaguides.com/nagservice/UsedCarPrices.asmx</value>
      </setting>
      <setting name="eDriveAuto_UsedCarPrices_UsedCarPrices" serializeAs="String">
        <value>http://www.nadaguides.com/nagservice/UsedCarPrices.asmx</value>
      </setting>
    </Edrive.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EdriveService" closeTimeout="01:41:00" openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPISoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPIAASoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPISoapBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PayPalAPIAASoapBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <clear />
        <behavior name="NewBehavior0">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://dev.edriveautos.com/EdriveDataService.svc" behaviorConfiguration="NewBehavior0" binding="basicHttpBinding" bindingConfiguration="EdriveService" contract="Edrivie_Service_Ref.IEdrive_Service" name="EdriveService" />
      <endpoint address="https://api-3t.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPISoapBinding" contract="PayPalAPI.PayPalAPIInterface" name="PayPalAPI" />
      <endpoint address="https://api-aa-3t.paypal.com/2.0/" binding="basicHttpBinding" bindingConfiguration="PayPalAPIAASoapBinding" contract="PayPalAPI.PayPalAPIAAInterface" name="PayPalAPIAA" />
    </client>
  </system.serviceModel>
</configuration>