@section Head
{
	<link href="@Url.Content("~/Content/contentstyle.css")" rel="stylesheet" type="text/css" />
}
<div class="product-inner-page">
	<div class="divdetail-inner">
		<div class="clear">
		</div>
	</div>
	<div class="tab-new">
		<div class="teb-left">
		</div>
		<div class="tab-line">
			<div class="tab-tital">Pricing</div>
		</div>
		<div class="tab-right">
		</div>
		<div class="clear">
		</div>
	</div>
	<div class="clear1">
	</div>
	<div class="divbottom-home">
		<div class="divbottomleft-new-top">
		</div>
		<div class="divbottommiddetail-new-line-top-inner">
		</div>
		<div class="divbottomright-new-top">
		</div>
		<div class="clear">
		</div>
	</div>
	<div class="divinnercontent-home-new-one">
		<div class="divinnercontent">
			<div class="diviconwar">
			</div>
			<div class="overviewdetaillogowarnew">
				<div style="width: 700px; margin-left: 70px;">
					<span style="color: #0051FF; font-size: 34px; font-weight: bold;">Get an EDGE with E-Drive
						Autos</span>
				</div>
				<div style="width: 700px; margin-left: 70px; margin-top: 20px; border: solid 1px gray;">
				</div>
				<div style="width: 700px; margin-left: 70px; margin-top: 20px; font-size: 20px; font-weight: bold;">
					Market your aged units, off-makes and trades to captive retail buyers
					<br />
					<div style="height: 7px;">
					</div>
					AND dealers nationwide.
				</div>
				<div style="width: 700px; margin-left: 70px; margin-top: 20px; font-size: 15px;">
					Leverage retail and wholesale marketing channels simultaneously and access four
					<br />
					<div style="height: 2px;">
					</div>
					times more dealer inventory than any other wholesale re-marketing site.
				</div>
			</div>
			<div style="margin-left: 130px; margin-top: -32px;">
				<img src="/Content/Themes/App_Themes/EDrive/images/month.jpg" />
				<div style="margin-top: 10px;">
					<table cellpadding="3" cellspacing="3">
						<tr>
							<td class="DealerPricing">
								<div>
									Unlimited Buying & Selling (No Success Fees).</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Unlimited Access to Exclusive "Private Seller" Vehicles.*
								</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Fully-Optimized Dealer Landing Page for Your Listings.
								</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Turnkey wholesale Marketing Solution.
								</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Added Profits from Financing, insurance & OEM Services.
								</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Customer Admin & Inventory Manager Back-end
								</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Access to Exclusive Dealer Buying & Selling Forum.
								</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Shop Aged Inventory BEFORE the Auction.
								</div>
							</td>
						</tr>
						<tr>
							<td class="DealerPricing">
								<div>
									Control the wholesale Timeframe.
								</div>
							</td>
						</tr>
					</table>
					<div style="margin-left: 35px; margin-top: 20px;">
						<a class="lnkTermOfUse" href="/Dealers">Request a Free Demo </a>
					</div>
				</div>
			</div>
			<div class="clear">
			</div>
			<div style="float: right; margin-right: 65px; margin-top: -332px;">
				<img src="/Content/Themes/App_Themes/EDrive/images/customers.jpg" />
				<div style="margin-bottom: 30px; margin-top: 30px; text-align: right; color: Black;">
					<sup>*</sup> Coming October 2011
				</div>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
	<div class="clear">
	</div>
	<div class="divbottom-home">
		<div class="divbottomleft-new">
		</div>
		<div class="divbottommiddetail-new-line-inner">
		</div>
		<div class="divbottomright-new">
		</div>
	</div>
	<div class="clear">
	</div>
</div>
