<div id="Footer">
	<div class="FooterLogo">
		<a href="#"><img src="@Url.Content("~/Content/Images/footer_logo.png")" alt="" /></a>
	</div>
	<p>
		Copyright 2011-2012 E-Drive Autos, LLC. All rights reserved worldwide.</p>
	<p class="lower-text">
		TargetSpot, Carfax, Military.com, Recycler.com and NADA Guides logos are the property
		of their respective companies.
	</p>
</div>
