@{
	Layout = null;
}

<div class="registration-popup-window">
	<p>
		You will be charged $9.95 (one time only) for Full Access to E-Drive's @ViewBag.TotalVehicleCount pre-auction vehicles for a period of 10 days. 
		There are no automatic renewals or further obligation after your account expires and no additional charges will be made to your account without your approval. 
		If you would like to extend your account, simply re-register after the account expires. We do not save your information.
	</p>
	<a href="#" onclick="return hideRegistrationPopup();">Close Window</a>
</div>